{
    "root": true,
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "no-loops",
        "prettier"
        // "plugin:shopify/esnext"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        // Possible Errors
        "prettier/prettier": "error",
        "no-loops/no-loops": "error",
        "comma-dangle": "warn",
        "no-cond-assign": "warn",
        "no-console": "warn",
        "no-constant-condition": "warn",
        "no-control-regex": "warn",
        "no-debugger": "warn",
        "no-dupe-args": "warn",
        "no-dupe-keys": "warn",
        "no-duplicate-case":"warn",
        "no-empty-character-class": "warn",
        "no-empty": "warn",
        "no-ex-assign":"warn",
        "no-extra-semi": "warn",
        "no-func-assign": "warn",
        "no-inner-declarations":"warn",
        "no-invalid-regexp":"warn",
        "no-irregular-whitespace": "warn",
        "no-negated-in-lhs": "warn",
        "no-obj-calls": "warn",
        "no-regex-spaces": "warn",
        "no-sparse-arrays": "warn",
        "no-unreachable": "warn",
        "use-isnan": "warn",
        "valid-jsdoc": "warn",
        "valid-typeof": "warn",
        "no-unexpected-multiline": "warn",

        // Best Practices
        "accessor-pairs": "error",
        "block-scoped-var": "error",
        // "class-methods-use-this": "error",
        "complexity": ["error", 10],
        "consistent-return": "error",
        "curly": "error",
        "default-case": "error",
        "default-case-last": "error",
        "dot-notation": "error",
        "dot-location": "error",
        "eqeqeq": "error",
        "guard-for-in": "error",
        "no-alert": "error",
        "no-caller": "error",
        "no-case-declarations": "error",
        "no-div-regex": "error",
        "no-else-return": ["error", { "allowElseIf": false }],
        "no-empty-function": ["error", { "allow": ["constructors"] }],
        "no-empty-pattern": "warn",
        "no-eq-null": "warn",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-fallthrough": "error",
        "no-floating-decimal": "error",
        "no-global-assign": "error",
        "no-implicit-coercion": "error",
        "no-implicit-globals": "error",
        "no-implied-eval": "error",
        "no-invalid-this": "error",
        "no-iterator": "error",
        "no-labels": ["ERROR", {"allowLoop": true, "allowSwitch": true}],
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-magic-numbers": "error",
        "no-multi-spaces": "off",
        "no-multi-str": "error",
        "no-native-reassign": "error",
        "no-new-func": "error",
        "no-new": "warn",
        "no-new-wrappers": "error",
        "no-octal-escape": "warn",
        "no-octal": "warn",
        "no-param-reassign": ["error", { "props": true }],
        "no-proto": "error",
        "no-redeclare": ["warn", { "builtinGlobals": true }],
        "no-return-assign": "off",
        "no-script-url": "error",
        "no-self-compare": "warn",
        "no-sequences": "warn",
        "no-throw-literal": "error",
        "no-unused-expressions": "off",
        "no-useless-call": "warn",
        "no-useless-concat": "warn",
        "no-void": "off",
        "no-warning-comments": "off",
        "no-with": "off",
        "radix": "warn",
        "vars-on-top": "warn",
        "wrap-iife": "warn",
        "yoda": "warn",
        "no-process-env": "off",

        // Strict Mode
        "strict": "off",

        // Variables
        "init-declarations": "off",
        "no-shadow": "error",
        "no-delete-var": "error",
        "no-label-var": "warn",
        "no-shadow-restricted-names": "warn",
        "no-undef": "warn",
        "no-undef-init": "off",
        "no-undefined": "warn",
        "no-unused-vars": "warn",
        "no-use-before-define": "warn",

        // ECMAScript 6
        "sort-imports": ["error", {
            "ignoreCase": false,
            "ignoreDeclarationSort": false,
            "ignoreMemberSort": false,
            "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
        }],

        // Stylistic Issues
        "sort-vars": ["error", { "ignoreCase": false }],
        "no-duplicate-imports": ["error", { "includeExports": true }]
    }
}