PORT=3000
TYPEORM_CONNECTION="postgres"
TYPEORM_HOST=localhost
TYPEORM_USERNAME=test
TYPEORM_PASSWORD=test
TYPEORM_DATABASE=express_typescript
TYPEORM_PORT=5432
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=src/entities/**/*.ts,build/entities/**/*.js
TYPEORM_ENTITIES_DIR=src/entities
TYPEORM_MIGRATIONS=src/migrations/*.ts,build/migrations/*.js
TYPEORM_MIGRATIONS_DIR=src/migrations
TYPEORM_MIGRATIONS_TABLE_NAME=custom_migration_table

JWT=sampleToken